<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Mapper.CommunityMapper">

    <!-- 게시글 등록 -->
    <insert id="insertCommunity" parameterType="com.example.demo.Model.Community">
        INSERT INTO community (title, content, category,writer)
        VALUES (#{title}, #{content}, #{category}, #{writer});
    </insert>

	<!-- 게시글 조회 -->
    <select id="selectAllCommunity" resultType="com.example.demo.Model.Community">
        SELECT id, title, content, category, writer, created_at
        FROM community
        ORDER BY id DESC;
    </select>
    
    <select id="selectCommunityById" parameterType="int" resultType="com.example.demo.Model.Community">
		SELECT id, title, content, category, writer, created_at AS created_at
		FROM community
		WHERE id = #{id}
    </select>
</mapper>
